{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'pdarxiv/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pdarxiv/style.css' %}">
    <link rel="icon" href="{% static 'pdarxiv/favicon.ico' %}" type="image/x-icon">
    <!---<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>-->

    <title>Добавить дело</title>
</head>
<body>
    <header class="header">
        <div class="container-md" >
            <div class="row">
              <div class="col-md text-center mainhedslogan"> <h1>Реестр пенсионных дел, сданных в Архив</h1></div>
            </div>
          </div>  
    </header>
    <div class="container formone" >
        <!-- <div class="menu-left col-md-3">
            Left Side Menu <br>
            <p class="text-nowrap bd-highlight" style="width: 8rem;">РЕДАКТИРОВАТЬ</p> <br>
            Left Side Menu <br>
            <p>УДАЛИТЬ</p>  <br>
            Left Side Menu <br>
            <p><a href="{% url 'arxpd' %}"> К ПОИСКУ </a></p> 
        </div> -->
        {{ user.get_username}}
        <!--{% if form.errors %}

         <div class="err1 bg-warning">
             При сохранении дела есть ошибки: <br>
             <span class="text-danger"> {{ form.nom.errors }}</span>
             <span class="text-danger">{{ form.snils.errors }}</span>
             <span class="text-danger"> {{ form.dlp.errors }}</span>
              <span class="text-danger"> {{ form.dhp.errors }}</span>
             <span class="text-danger"> {{ form.non_field_errors }}</span>
         </div>
        {% endif %}  -->
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                Ошибка в<strong> {{ field.label }}, </strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    <form class="formadd pt-3 pb-3" method="POST">
        {% csrf_token %}
        {{ form.media }}
        <p>{{ form.nom}} - АРХИВНЫЙ НОМЕР &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;СНИЛС: {{ form.snils}}</p>
        <p><span class="fadr">Ф.И.О.</span><span class="fadrf">Фамилия </span>{{ form.fam}}</p>
        <p><span class="fadr"></span><span class="fadrf">Имя </span>{{ form.name}}</p>
        <p><span class="fadr"></span><span class="fadrf">Отчество </span>{{ form.fname}}</p>
        <p><span class="fadr"></span><span class="fadrf">Дата рождения </span>{{ form.dr}} <span class="fadrf">&nbsp;&nbsp;&nbsp;Дата смерти </span>{{ form.ds}}</p>
        <br>
        <p><span class="fadr">Адрес: </span><span class="fadrf">Почтовый индекс </span>{{ form.zind}}</p>
        <p><span class="fadr"></span><span class="fadrf">Населенный пункт</span>{{ form.gor }}</p>
        <p><span class="fadr"></span><span class="fadrf">Улица</span>{{ form.ul }}</p>
        <p><span class="fadr"></span><span>Дом&nbsp;&nbsp</span>{{ form.dom }}&nbsp;&nbsp;
            <span>Корпус&nbsp;&nbsp</span>{{ form.kor }}&nbsp;&nbsp;
            <span>Квартира&nbsp;&nbsp;</span>{{ form.kvar }}</p>
        <br>
        <p><span class="fadrf">Вид пенсии </span>{{ form.nvidp}}</p>
        <p><span class="fadrf">Дата назначения пенсии </span>{{ form.dnp}}</p>
        <p><span class="fadrf ">Дата прекращения </span>{{ form.dlp}}</p>
        <p><span class="fadrf ">Дата хранениня ПО </span>{{ form.dhp}}</p>
        <br>
        <!---<p><span class="fadr"></span><span class="fadrf">Категории умершего</span>{{ form.link }}</p>--->
        <p><span class="fadr"></span><span class="fadrf">Категория1 умершего</span>{{ form.link1 }}</p>
        <p><span class="fadr"></span><span class="fadrf">Категория2 умершего</span>{{ form.link2 }}</p>
        <p><span class="fadr"></span><span class="fadrf">Категория3 умершего</span>{{ form.link3 }}</p>
        <p><span class="fadr"></span><span class="fadrf">Удостоверение участника ВОВ&nbsp;&nbsp;серия&nbsp;&nbsp;</span>{{ form.sud }}&nbsp;&nbsp;Номер {{ form.nud }}</p>
        Примечание: <br><br>
        {{ form.post }}
        <br>

        <br>
        <div style="align-items: center; display: flex;"><input class="btn btn-primary" type="submit" value="Сохранить">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-secondary" href="{% url 'arxpd' %}">Отмена</a></div>
        
    </form>
    </div>
    <script src="{% static 'pdarxiv/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'pdarxiv/js/jquery.mask.js' %}"></script>
</body>
</html>

