{% extends "pdarxiv/_basearxdelo.html" %}
{% load static %}
{% block titlesite %}Создание архивного дела{% endblock %}

{% block slogan %}Создание архивного дела {% endblock %}
{% block contentdelo%}

    <div class="container formone" >

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                Ошибка в<strong> {{ field.label }}, </strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    <form class="formadd pt-3 pb-3" method="POST" id="indexForm" data-streets-url="{% url 'ajax_load_streets' %}">
        {% csrf_token %}
        {{ form.media }}
        <p>{{ form.nom}} - АРХИВНЫЙ НОМЕР &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;СНИЛС: {{ form.snils}}</p>
        <p><span class="fadr">Ф.И.О.</span><span class="fadrf">Фамилия </span>{{ form.fam}}</p>
        <p><span class="fadr"></span><span class="fadrf">Имя </span>{{ form.name}}</p>
        <p><span class="fadr"></span><span class="fadrf">Отчество </span>{{ form.fname}}</p>
        <p><span class="fadr"></span><span class="fadrf">Дата рождения </span>{{ form.dr}} <span class="fadrf">&nbsp;&nbsp;&nbsp;Дата смерти </span>{{ form.ds}}</p>
        <br>
        <p><span class="fadr">Адрес: </span><span class="fadrf">Почтовый индекс </span>{{ form.zind}}</p>
        <p><span class="fadr"></span><span class="fadrf">Населенный пункт</span>
            <select name="programming" id="programming" class="form-control">
            <option value="">-- Населенный пункт --</option>
            {% for i in city %}
            <option value="{{i.id}}">{{i.name}}</option>
            {% endfor %}
            </select>
        </p>
        <p><span class="fadr"></span><span class="fadrf">Улица</span>
        <select name="streets" id="streets" class="form-control">

        </select></p>
        <p><span class="fadr"></span><span>Дом&nbsp;&nbsp</span>{{ form.dom }}&nbsp;&nbsp;
            <span>Корпус&nbsp;&nbsp</span>{{ form.kor }}&nbsp;&nbsp;
            <span>Квартира&nbsp;&nbsp;</span>{{ form.kvar }}</p>
        <br>
        <p><span class="fadrf">Вид пенсии </span>{{ form.nvidp}}</p>
        <p><span class="fadrf">Дата назначения пенсии </span>{{ form.dnp}}</p>
        <p><span class="fadrf ">Дата прекращения </span>{{ form.dlp}}</p>
        <p><span class="fadrf ">Дата хранениня ПО </span>{{ form.dhp}}</p>
        <br>
        <!---<p><span class="fadr"></span><span class="fadrf">Категории умершего</span>{{ form.link }}</p>--->
        <p><span class="fadr"></span><span class="fadrf">Категория1 умершего</span>{{ form.link1 }}</p>
        <p><span class="fadr"></span><span class="fadrf">Категория2 умершего</span>{{ form.link2 }}</p>
        <p><span class="fadr"></span><span class="fadrf">Категория3 умершего</span>{{ form.link3 }}</p>
        <p><span class="fadr"></span><span class="fadrf">Удостоверение участника ВОВ&nbsp;&nbsp;серия&nbsp;&nbsp;</span>{{ form.sud }}&nbsp;&nbsp;Номер {{ form.nud }}</p>
        Примечание: <br><br>
        {{ form.post }}
        <br>

        <br>
        <div style="align-items: center; display: flex;"><input class="btn btn-primary" type="submit" value="Сохранить">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-secondary" href="{% url 'arxpd' %}">Отмена</a></div>
        
    </form>
    </div>
{% endblock contentdelo%}    
{% block footersite %}
    <script src="{% static 'pdarxiv/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'pdarxiv/js/jquery.mask.js' %}"></script>
    <script>
    $("#programming").change(function () {
      var url = $("#indexForm").attr("data-streets-url");  // get the url of the `load_courses` view
      var programmingId = $(this).val();  // get the selected programming ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/load-courses/)
        data: {
          'programming': programmingId       // add the programming id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_courses` view function
          $("#streets").html(data);  // replace the contents of the course input with the data that came from the server
        }
      });

    });
    </script>
{% endblock %}  
