{% extends "pdarxiv/_basearxdelo.html" %}

{% load static %}

{% block titlesite %}Удаление дела # {{ arxdelo.nom}}{% endblock %}

{% block slogan %}Удаление архивного дела № {{ arxdelo.nom}}{% endblock %}
    {% block contentdelo%}
    <div class="container formone" >
    <form class="formadd pt-3 pb-3" method="POST">
        {% csrf_token %}
        <p></p>
        <h3>Удаляем дело под номером <span class="fw-bolder">{{ arxdelo.nom }}</span>?</h3>
        <br>
        <p class="fs-2" >Пенсионер: {{ arxdelo.fam }} {{ arxdelo.name }} {% if arxdelo.fname %}  {{ arxdelo.fname }} {% endif %} </p>
        <br><hr>
        <input type="submit" class="text-center btn btn-outline-danger" value="УДАЛИТЬ">&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-outline-secondary" href="{% url 'viewarxpd' arxdelo.id %}">ОТМЕНА</a>
    </form>
    </div>
    {% endblock contentdelo%}
