{% load static %}
{% load bootstrap %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'pdarxiv/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pdarxiv/style.css' %}">


    <title>Авторизация</title>
</head>
<div class="bodylogin">
    {% if user.is_authenticated %}
        Hi {{ user.username }}! <a href="{% url 'logout' %}">Log Out</a>
    {% endif %}
    <br>
<div class="formlogin">
<h2>You are Logining to App</h2>
<hr>
<h3><a class="link-primary fw-bold" href="{% url 'arxpd' %}" style="text-decoration: none">Архив Закрытых дел</a></h3>
<br>
<h3><a class="link-primary fw-bold" href="{% url 'arxpd' %}" style="text-decoration: none">Архив Закрытых дел</a></h3>
<br>
    {{ user.last_name}} {{ user.first_name}}
</div>
</div>