{% extends "pdarxiv/base.html" %}

{% load static %}
{% load bootstrap %}

    
  

    {% block contentsite%}
    {% if filter.qs.count < allrec.count %}
    <!---{% if is_paginated %}
    Page {{ page_obj.number }} of {{ paginator.num_pages }}
   {% endif %}-->

        <!---<div class="text-center fw-bold"> Найдено - {{ filter.qs.count }} дел из  {{ pds.count }}</div>-->
        <div class="row pdtbl">

             <table class="table table-responsive-sm caption-top table-striped tabdest">
             <caption class="fw-bold">Найдено - {{ filter.qs.count }} дел из  {{ pds.count }} bbb всего {{ allrec.count }}</caption>
             <thead class="text-center table-primary table-bordered border-primary align-middle">
                <tr class="border-primary table-bordered">
                  <th class="col-sm-2 border-primary text-center fw-bold border-2 align-middle">СНИЛС</th>
                  <th class="col-sm-1 border-primary text-center fw-bold border-2 align-middle">Ном. архдела</th>
                  <th class="col-sm-4 border-primary text-center fw-bold border-2 align-middle">ФИО Пенсионера</th>
                  <th class="col-sm-5 border-primary text-center fw-bold border-2 align-middle">Адрес Пенсионера</th>
                 </tr>
             </thead>
             <tbody>
              {% for pd in filter.qs %}
                <tr>
                    <td class="col-md-2 text-center">{{ pd.snils }}</td>
                    <td class="col-md-1 text-end"><a href="{% url 'viewarxpd' pd.id %}">{{ pd.nom }}</a></td>
                    <td class="col-md-4 text-start">{{ pd.fam|upper }} {{ pd.name|upper }} {% if pd.fname %} {{ pd.fname|upper }}{% endif %}</td>
                    <td class="col-md-5 text-start"> {{pd.zind}}, {{ pd.gor }}, ул. {{ pd.ul }}, д. {{ pd.dom }}
                                                        {% if pd.kor %} корп. {{ pd.kor }}{% endif %}
                                                        {% if pd.kvar %}  кв.  {{ pd.kvar }}{% endif %}
                    </td>
                </tr>
              {% endfor %}
             </tbody>

        </table>
        </div>
      {% else %}
      <div class="container-md">
        <p></p>
        <h1 class="text-center fw-bold">{{ user.last_name}} {{ user.first_name}}, начните работу с поиска архивного дела</h1>
        <p></p>
        <h1 class="text-center fw-bold">или добавьте архивное дело</h1><br>
        <p class="text-center"><a class="mt-1 btn btn-outline-primary text-uppercase" href="{% url 'addarxpd' %}">Добавить дело</a></p>
      </div>
      
      {% endif %}
    {% endblock %}      
